.promotion-choices {
    height: 12.5%;
}

.promotion-choices .piece {
    width: 25%;
    height: 100%;
    border: 1px solid var(--dark-tile);
}

.promotion-choices .piece:hover {
    box-shadow: 0 0 0 5px var(--dark-tile) inset;
    transform: scale(1.05);
}
 
.promotion-choices :is(.wq,.bq) {
    left: 0;
}

.promotion-choices :is(.wr,.br) {
    left: 25%;
}
.promotion-choices :is(.wb,.bb) {
    left: 50%;
}
.promotion-choices :is(.wn,.bn) {
    left: 75%;
}

.popup-inner {
    width: 50%;
    min-height: 12.5%;
    background: var(--light-tile);
    position: absolute;
    border: 8px solid var(--light-tile);
    box-shadow: 0 0 0 8px var(--dark-tile); 
}

.popup--inner__center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 1em 0;
}

.popu--inner__center h1{
    font-size: 1.2em;
    margin: 0 0 1em 0;
}